<!doctype html>
<html> 

<div class="jumbotron center"  >

	<h2>REGISTRASE</h2>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  
  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre, autofocus: true, autocomplete: "nombre", placeholder: "nombre:" %>
  </div>

  <div class="field">
    <%= f.label :documento %><br />
    <%= f.number_field :documento, autofocus: true, autocomplete: "documento", placeholder: "DNI:" %>
  </div>

  <div class="field">
    <%= f.label :fecha_nacimiento %><br />
    <%= f.date_field :fecha_nacimiento, autofocus: true, autocomplete: "fecha_nacimiento" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "ejemplo@gmail.com" %>
  </div>

  <div class="field">
    <%= f.label :Contraseña %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "nueva contraseña" %>
  </div>

  <div class="field">
    <%= f.label :Confirme_Contraseña %><br />
    <%= f.password_field :password_confirmation, autocomplete: "nueva contraseña" %>
  </div>

  <div class="field">
      <%= f.check_box :de_riesgo %>
      <%= f.label :de_riesgo %>
  </div>

  <div class="actions">
    <%= f.submit "Registrarse" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>

</html> 
