<!doctype html>
<html> 
<div class="jumbotron center"  >

  		
     		
     		<% if ! signed_in? %>
    			 
    		<h1>BIENVENIDO A VACUNASSIST</h1>

      		<p> <%= link_to "REGISTRARSE", new_user_registration_path , class: 'btn btn-default btn-lg' %>

     		<p> <%= link_to "INICIAR SESION", new_user_session_path , class: 'btn btn-default btn-lg' %> </p> 
     		
  		<% end %>
  		
  		 <% if signed_in?  %>
  		 
  		 <h1> BIENVENIDO A VACUNASSIST</h1> 
  		  
  		  <% if current_user != nil && !current_user.de_riesgo  %> 
  		  	
  		
  			 <p> <%= link_to "SOLICITAR VACUNA PARA LA FIEBRE AMARILLA", '#' , class: 'btn btn-default btn-lg' %> </p>
  			 
		  <% end %>
		  
	 	 <% end %>

</div>
</html> 

