<% if current_user != nil %>
    <h1> <%= current_user.nombre %><h1>
    <li>
        <p> email: <%= current_user.email %> </p>
        <p> DNI: <%= current_user.documento %> </p>
        <% if current_user.de_riesgo %>
            <p> Paciente de riesgo </p>  
        <% else %>
            <p> No es paciente de riesgo </p>
        <% end %>
        <%= link_to("Editar Perfil", edit_user_registration_path) %>
        <%= link_to("Inicio", root_path) %>
    </li>
<% else %>
    <%= flash[:error] = "El usuario no existe"%>
    <% render :home%>
<% end %> 
